.label {
    -fx-text-fill: white;
}

.menu-item {
    -fx-text-fill: black;
}

#sm {
    -fx-background-color: black;
    -fx-font: 12px Tahoma;
    -fx-alignment: center;
}

#ms,#cs {

    -fx-background-image: url('/images/Main/kaart.png');
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-font: 20px Tahoma;
    -fx-font-weight: bold;
}

#ag {
    -fx-background-image: url('/images/Main/antiMonopolyAchtergrond.jpg');
}

#rg,#ds,#ss,#pdm,#ks,#rdd,#b,#pv,#ll,#rr,#gr,#rsl,#ls,#gpm,#gm,#pdl,#h,#v,#bv,#s1,#s2,#s3,#s4,
#bda,#m,#n,#ns,#zs,#os,#ws,#nk1,#nk2,#nk3,#nk4,#nk5,#nk6,#eb,#ib,#em,#gas,#start,#gng,#ams,#gev{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-font: 12px Tahoma;
    -fx-alignment: center;
    -fx-pref-width: 150px;
    -fx-pref-height: 90px;
    -fx-spacing: 5px;

}

#rg,#ds {
    -fx-background-color: purple;
}

#ss,#pdm,#ks {
    -fx-background-color: lightblue;
}

#rdd,#b,#pv {
    -fx-background-color: pink;
}

#ll,#rr,#gr {
    -fx-background-color: darkorange;
}

#rsl,#ls,#gpm {
    -fx-background-color: red;
}

#gm,#pdl,#h {
    -fx-background-color: orange;
}

#v,#bv,#bda {
    -fx-background-color: green;
}

#m,#n {
    -fx-background-color: darkblue;
}

#ns,#zs,#os,#ws,#nk1,#nk2,#nk3,#nk4,#nk5,#nk6,#eb,#ib,#em,#gas,#start,#gng,#ams,#gev,#s1,#s2,#s3,#s4 {
    -fx-background-color: black;
}



