
/*Witte tekskleur labels*/
.label {
    -fx-text-fill: white;
}

/*Zwarte achtergrond van dropdownmenu*/
.menu-item .label {
    -fx-text-fill: black;
}
/*buttons krijgen witte achtergroend, vetgedrukte tekst en geen rand*/
.button {
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-border-style: none;
}

/*Opmaak van de kaarten*/
#ms,#cs {
    -fx-background-image: url('/images/Main/kaart.png');
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-font: 20px Tahoma;
    -fx-font-weight: bold;
}
/*Plaatsen van centrale afbeelding*/
#ag {
    -fx-background-image: url('/images/Main/antiMonopolyAchtergrond.jpg');
}

/*Opmaak van de vakjes op het spelbord en de spelopties*/
#rg,#ds1,#ss,#pdm,#ks,#rdd,#b,#pv,#ll,#rr,#gr,#rsl,#ls,#gpm,#gm,#pdl,#h,#v,#bv,#s1,#s2,#s3,#s4,
#bda,#m,#n,#ns,#zs,#os,#ws,#nk1,#nk2,#nk3,#nk4,#nk5,#nk6,#eb,#ib,#em,#gas,#start,#gng,#ams,#gev,#spelopties{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-font: 12px Tahoma;
    -fx-alignment: center;
    -fx-pref-width: 150px;
    -fx-pref-height: 90px;
    -fx-spacing: 5px;
    -fx-font-weight: bold;

}

/*Geven van de achtergrondkleuren van de verschillened vakjes op het spelbord*/
#rg,#ds1 {
    -fx-background-color: purple;
}

#ss,#pdm,#ks {
    -fx-background-color: lightblue;
}

#rdd,#b,#pv {
    -fx-background-color: pink;
}

#ll,#rr,#gr {
    -fx-background-color: darkorange;
}

#rsl,#ls,#gpm {
    -fx-background-color: red;
}

#gm,#pdl,#h {
    -fx-background-color: orange;
}

#v,#bv,#bda {
    -fx-background-color: green;
}

#m,#n {
    -fx-background-color: darkblue;
}

#ns,#zs,#os,#ws,#nk1,#nk2,#nk3,#nk4,#nk5,#nk6,#eb,#ib,#em,#gas,#start,#gng,#ams,#gev,#s1,#s2,#s3,#s4,#spelopties,#sm {
    -fx-background-color: black;
}


#spelopties .button {
    -fx-font-size: 13px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}



