#as {
    -fx-pref-height: 1000px;
    -fx-pref-width: 1800px;
    -fx-alignment: center;
    -fx-spacing: 30px;
    -fx-font: 30px Tahoma;
    -fx-background-image: url('/images/monopolyman.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.combo-box {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.text-field {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}